<div class="container">
	<div id="login_form" class="panel panel-primary" style="max-width:600px;margin:auto;">
		<div class="panel-heading">Password Reset</div>
		<div class="panel-body">
			<div ng-show="submitted">
				If the account is active, a password reset has been set. <br/>
				<a ng-href="/#/login">Return</a> to the logon page.
			</div>

			<form ng-submit="submit()" ng-hide="submitted">
				<div class="form-group">
					<label for="email">Email Address</label>
					<input type="email" class="form-control" id="email" ng-model="email" placeholder="johndoe@mitre.org">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary form-control">Request Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
