<div class="container" style="max-width:512px;margin:auto;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Reset Password</h1>
        </div>

        <form class="pad-15" name="accountForm" ng-submit="ctrl.submit()">
            <div>
                <div class="form-group" ng-show="username">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="username" ng-model="username" disabled>
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" ng-model="confirmPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Reset Password</button>
            <span ng-if="error" style="color:red;"><span class="glyphicon glyphicon-remove"></span> ERROR: {{error}}</span>
        </form>
    </div>
</div>
