<div class="container">

  <div>  
    <h1 class="row"><strong>Event Types</strong></h1>
    <div ng-repeat="obj in objects" class="row">
      <h2><span ng-class="'glyphicon ' + glyphs[obj.name]"/> {{obj._class}}</h2>
      <div class="row">
        <div class="col-sm-4">
          <h3>Fields</h3>
          <ul class="well">
            <li ng-repeat="field in obj.fields">{{field}}</li>
          </ul>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <h3>Actions</h3>
          <ul class="well">
            <li ng-repeat="action in obj.actions">{{action}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>  

  <div>
    <h1 class="row"><strong>Event Relationships</strong></h1>
    <div ng-repeat="(abstract, pivot_list) in pivots | groupBy: 'abstract'" >  
      <!-- somehow, abstract gets converted from a bool to a string -->
      <h2 class="row"><span ng-bind="((abstract == 'true') ? 'Implicit (Black Box)' : 'Explicit (Causal)')"></span></h2>
      <div ng-repeat="pivot in pivot_list" class="row">
        <span class="col-sm-4">
          <span ng-class="'glyphicon ' + glyphs[pivot.source.name]"/> {{pivot.source._class}} ({{pivot.source.actions.join(', ')}})
        </span>
        <span class="col-sm-1 glyphicon glyphicon-arrow-right"/>
        <span class="col-sm-2">{{pivot._title}} <sup ng-if="pivot.reverse">-1</sup></span>
        <span class="col-sm-1 glyphicon glyphicon-arrow-right"/>
        <span class="col-sm-4">
           <span ng-class="'glyphicon ' + glyphs[pivot.target.name]"/> {{pivot.target._class}}  ({{pivot.target.actions.join(', ')}})
        </span>
      </div>
    </div>
  </div>
  <br/>
</div>
