<div class="container">
	<h1>ATT&amp;CK Tactic Sets</h1>

	<div ng-repeat="tacticSet in tacticSets">
		<div class="btn-group col-sm-12" role="group">
			<a href="{{tactic.url}}" class="btn btn-default btn-pad col-sm-3" ng-repeat="tactic in tacticSet.tactics">{{tactic.name}}</a>
    	<button ng-click="removeSet(tacticSet)" class="btn btn-pad btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
  	</div>
	</div>

	<div class="col-sm-12">
	<!-- Add new tactic sets	-->
	<h3>Add a Set of ATT&amp;CK Tactics</h3>
		<div>
			<div class="btn-group" ng-repeat-start="currentTactic in newTacticSet">
			  <button class="btn btn-pad btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{currentTactic.name || "ATT&amp;CK Tactics"}} <span class="caret"></span>
			  </button> 
			  <ul class="dropdown-menu">
			    <li ng-repeat="tactic in attack.tactics">
			    	<a ng-click="newTacticSet[$parent.$index]=tactic">{{tactic.name}}</a>
		    	</li>
			  </ul> 
			</div> <span ng-repeat-end/>

			 <button ng-click="newTacticSet.push({})" class="btn btn-pad btn-success">
				<span class="glyphicon glyphicon-plus"></span>
			</button>

			 <button ng-click="addSet()" class="btn btn-default">
				Submit
			</button>
		</div>
	</div>
</div>