<div class="container">
    <div>
        <div class="jumbotron" style="border-radius:10px;padding-left:40px;padding-right:40px;margin-top:5%;">
            <h1 style="color:#00646a;">CASCADE</h1>
            <p class="lead">
                CASCADE aides analysts in hunting advanced cyber adversaries,
                by using MITRE's <strong>ATT&amp;CK</strong> framework.
            </p>
            <p class="lead">
                CASCADE automates significant portions of the investigation process, and identifies
                ATT&CK techniques. Context is automatically gathered and graphs of activity
                are labelled with ATT&amp;CK data, allowing analysts can focus efforts on making intelligent
                decisions, response and remediation.
            </p>

            <p ng-hide="user.full_name">
                <a class="btn btn-lg btn-primary" ng-click="gotoLogin()" role="button" >Login</a>
            </p>

        </div>
    </div>
</div>
